*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
   background-color: #192332;
}

.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: #141e28;
    z-index: 1000;
    position: fixed;
    box-shadow: 4px 4px 8px #070A0F;
}

.logo{
    display: flex;
    align-items: center;
    height: 100px;
    width: 400px;
    margin-left: 80px;
}

.logo img{
    margin-right: 24px;
}

.search{
    display: flex;
    align-items: center;
}

.search-text{
    color: #6c757d;
    font-size: 0.8rem;
    font-weight: 300;
    margin-left: 1rem;
}

.search i{
    font-size: 30px;
}

.side-bar{
    width: 60px;
    height: 100%;
    position: fixed;
    z-index: 2000;
    background-color: #141e28;
    box-shadow: 4px 4px 8px #070A0F;
}

.btn-side{
    background-color: #192332;
    color: orange;
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
}

/* #btn-home{} */

.btn-side img{
    width: 30px;
}

.btn-side:focus{
    background-color: orange;
}