*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
   background-color: #192332;
}

.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: #141e28;
    z-index: 1000;
    position: fixed;
    box-shadow: 4px 4px 4px #070A0F;
}

.logo{
    display: flex;
    align-items: center;
    height: 100px;
    width: 400px;
    margin-left: 80px;
}

.logo img{
    width: 25%;
    margin-right: 24px;
    pointer-events: none;
    user-select: none;
}

.search{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.search-text{
    color: #6c757d;
    font-size: 0.8rem;
    font-weight: 300;
    margin-left: 1rem;
}

.side-bar{
    width: 50px;
    height: 100%;
    position: fixed;
    z-index: 2000;
    background-color: #141e28;
    box-shadow: 4px 4px 4px #070A0F;
}

.btn-side{
    background-color: #192332;
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
}

.btn-cadastro{
    background-color: orange;
    font-size: 0.7rem;
    padding: 17px;
    margin-right: 18px;
    font-weight: 800;
    color: #212529;
    cursor: pointer;
}

.corpo{
    width: 100px;
    height: 100px;
    background-color: yellow;
}